{"train_data_dir": "../clean-data", "validation_data_dir": "../clean-validation", "bottleneck_train": "bottleneck_features_train.npy", "bottleneck_validation": "bottleneck_features_validation.npy", "epochs": 25, "epochs-refine": 10, "batch_size": 32, "optimizer": "sgd", "lr": 0.005, "decay": 3.2e-06, "output": "disdat-104-v2-lr0.005-decay2"}