{"train_data_dir": "../data8020", "validation_data_dir": "../validation8020", "bottleneck_train": "bottleneck_features_train-120-8020.npy", "bottleneck_validation": "bottleneck_features_validation-120-8020.npy", "epochs": 40, "epochs-refine": 20, "batch_size": 32, "optimizer": "sgd", "lr": 0.001, "decay": 0.0, "output": "disdat-120-v1-sigmoid-8020-lr0.001-decay0"}